.evento-div{
	border-width: 3px; 
	border-style: solid;
	border-color: #AAAAAA;
	border-radius: 5px;
	-moz-border-radius: 10px;
}

.mesa-color-box{
	width: 25px; 
	height: 25px;
}

body{
	background-image: url('/public/images/background.png');
	background-repeat: repeat;
	font:18px arial,sans-serif;
}

.header{
	background-image: url('/public/images/header_bg.png');
	width:800px;
	text-align:right;
}