#{extends 'main.html' /}
#{set title:'Home' /}

<table style="width: 100%">
	<tr>
		<td valign="top" width="50%">
			<div id="eventos">
			<h1 align="center">
				<a href="@{showEventos()}" style="text-decoration: underline; color:#000000">&{'index.eventos'}</a>
			</h1>
			#{ifnot eventos}
				<h3 align="center"><span>&{'index.noEventos'}</span></h3>
			#{/ifnot}
			
			#{list items:eventos, as:'evento'}
				<div>
						<a href="/eventos/${evento.id}">${evento.titulo}</a>
						<p>${evento.fecha}#{if evento.mesa.representante} - <a href="mailto:${evento.mesa.representante.correo}">${evento.mesa.representante.nombre}</a>#{/if}</p>
				</div>
			#{/list}
			</div>
		</td>
		<td valign="top" width="50%">
			<div id="noticias" class="noticias_column">
				<h1 align="center"><a href="@{mensajes()}" style="text-decoration: underline; color:#000000;">&{'index.noticias'}</a></h1>
				#{ifnot mensajes}
					<h3 align="center"><span>&{'index.noMensajes'}</span></h3>
				#{/ifnot}
				#{list items:mensajes, as:'mensaje'}
					<div>
						<table>
							<tbody>
								<tr>
									<td>
									#{if mensaje.foto.type != null}
									<img alt="foto" class="mensaje_thumb" src="/admin/mensajes/${mensaje.id}/foto" />
									#{/if}
									</td>
									<td>
										<pre style="text-align:left;">${mensaje.mensaje}</pre>
									</td>
								</tr>
								<tr>
									<td colspan="2">
										<div id="social" align="right">
										<span>
										<a href="https://twitter.com/share" class="twitter-share-button" 
										data-url="http://tec-ch-mun-2011.herokuapp.com/mesajes/${mensaje.id}" 
										data-text="&{'index.noticiaTweet'}"
										data-count="none">Tweet</a>
										</span>
										<span class="fb-like" data-href="http://tec-ch-mun-2011.herokuapp.com/mesajes/${mensaje.id}" 
											data-send="false" data-width="300" data-show-faces="true"></span>
										</div>
									</td>
								<tr>
							</tbody>
						</table>
						<hr style="width: 98%" />
					</div>
				#{/list}
			</div>
		</td>
	</tr>
</table>

<!-- 
#{if moreFetch}
<input type="button" id="masEventos" value="&{'index.masEventos','Mas Eventos'}" />
#{/if}
 -->
 
<script type="text/javascript">
	var page = 0${page};
	
	$(document).ready(function(){
		if ($('#masEventos')){
			$('#masEventos').click(function(){
				$.get('/rest/eventos/mas/'+page,
						function(data){
							$(data.eventos).each(function(id, object){
								var objectHtml = '';
								objectHtml = '<fieldset ';
								objectHtml+=' class="evento-div" ';
								objectHtml+=' style="border-color:'+object.mesa.color+'"';
								objectHtml+='"'+object.mesa.nombre+'" >';
								objectHtml+=' <legend><b>'+object.mesa.nombre+'</b></legend> ';
								objectHtml+='<table style="width:100%">';
								objectHtml+='<thead align="center">';
								objectHtml+='<tr><th>';
								objectHtml+='<a href="/eventos/'+object.id+'">'+object.titulo+'</a>';
								objectHtml+='</th></tr></thead><tbody align="center"><tr>';
								objectHtml+='<td>'+object.descripcion+'</td></tr></tbody>';
								objectHtml+='<tfoot align="right"><tr><td>';
								objectHtml+=object.fecha+' - ';
								objectHtml+='<a href="mailto:'+object.mesa.representante.correo+'" >';
								objectHtml+=object.mesa.representante.nombre+'</a>';
								objectHtml+='</td></tr></tfoot></table>';
								objectHtml+='</fieldset>';
								$('#eventos').append(objectHtml);
							});
							//Disable the button if no more events available
							if (!data.moreFetch){
								$('#masEventos').attr('disabled','disabled');
								//set the current page to the returned page
							}else{
								//set the returned page to the var
								page = data.page;
							}
						}
					);
				});
		}
	});
</script>