#{extends 'main.html' /}
#{set title:'Home' /}

<!-- #{welcome /}  -->

#{ifnot eventos}
	No existen eventos aun
#{/ifnot}

<div id="eventos">
#{list items:eventos, as:'evento'}
	
	<fieldset class="evento-div" style="border-color: ${evento.mesa.color}" >
		<legend><b>${evento.mesa.nombre}</b></legend>
		<table style="width:100%">
			<thead align="center">
				<tr>
					<th>
						<a href="/eventos/${evento.id}">${evento.titulo}</a>
					</th>
				</tr>
			</thead>
			<tbody align="center">
				<tr>
					<td>
						${evento.descripcion}
					</td>
				</tr>
			</tbody>
			<tfoot align="right">
				<tr>
					<td>
						${evento.fecha} - <a href="mailto:${evento.mesa.representante.correo}">${evento.mesa.representante.nombre}</a>
					</td>
				</tr>
			</tfoot>
		</table>
	</fieldset>
#{/list}
</div>
#{if moreFetch}
<input type="button" id="masEventos" value="&{'index.masEventos','Mas Eventos'}" />
#{/if}

<script type="text/javascript">
	var page = ${page};
	$(document).ready(function(){
		if ($('#masEventos')){
			$('#masEventos').click(function(){
				$.get('/rest/eventos/mas/'+page,
						function(data){
							$(data.eventos).each(function(id, object){
								var objectHtml = '';
								objectHtml = '<fieldset ';
								objectHtml+=' class="evento-div" ';
								objectHtml+=' style="border-color:'+object.mesa.color+'"';
								objectHtml+='"'+object.mesa.nombre+'" >';
								objectHtml+=' <legend><b>'+object.mesa.nombre+'</b></legend> ';
								objectHtml+='<table style="width:100%">';
								objectHtml+='<thead align="center">';
								objectHtml+='<tr><th>';
								objectHtml+='<a href="/eventos/'+object.id+'">'+object.titulo+'</a>';
								objectHtml+='</th></tr></thead><tbody align="center"><tr>';
								objectHtml+='<td>'+object.descripcion+'</td></tr></tbody>';
								objectHtml+='<tfoot align="right"><tr><td>';
								objectHtml+=object.fecha+' - ';
								objectHtml+='<a href="mailto:'+object.mesa.representante.correo+'" >';
								objectHtml+=object.mesa.representante.nombre+'</a>';
								objectHtml+='</td></tr></tfoot></table>';
								objectHtml+='</fieldset>';
								$('#eventos').append(objectHtml);
							});
							//Disable the button if no more events available
							if (!data.moreFetch){
								$('#masEventos').attr('disabled','disabled');
							}else{
								//set the returned page to the var
								page = data.page;
							}
						}
					);
				});
		}
	});
</script>