#{extends 'main.html' /}
#{set title:'Home' /}

<div>
	<div style="text-align: left; padding-left: 25px;">
		<a href="http://tec-ch-mun-2011.herokuapp.com/application/mensajes" 
		class="twitter-share-button" 
		data-url="http://tec-ch-mun-2011.herokuapp.com/mesajes/mensajes" 
		data-text="&{'mensajes.tweet'}"
		data-count="none">Tweet</a>
		<span class="fb-like" data-href="http://tec-ch-mun-2011.herokuapp.com/application/mensajes" 
					data-send="true" data-width="400" data-show-faces="false" data-font="verdana"></span>
		#{if session.username}
		<span>
		<img src="/public/images/plus_icon.gif" style="cursor:pointer;" onclick="showDialog();" />
		<span style="font-size: 12px;">&{'mensajes.agregarMensaje'}</span>
		</span>
		#{/if}
	</div>

#{ifnot mensajes}
	&{'mensajes.noMensajes'}
#{/ifnot}
#{list items:mensajes, as:'mensaje'}
	<div id="mensaje_box" class="mensaje_box">
		<a href="@{showMensaje(mensaje.id)}">
		#{if mensaje.encoded_foto != null }
		<img class="mensaje_thumb" alt="foto" src="@{mensajeFoto(mensaje.id)}"  />
		<br />
		#{/if }
		<pre>${mensaje.mensaje}</pre>
		</a>
		#{if mensaje.autor != null}
			<div>
				<span>&{'mensaje.autor'}</span>
				<span>${mensaje.autor}</span>
			</div>
		#{/if} 
	</div>
	<hr style="width: 95%" />
#{/list}

#{if session.username}
	<div id="publica_mensaje" class="modal_dialog">
	<p>Publicar un Mensaje</p>
	#{form @Application.publicarMensaje(), enctype:'multipart/form-data'}
		<table>
		<tr>
			<td valign="top">
				<input type="hidden" id="mensaje.autor.nombre" name="mensaje.autor.nombre" 
				value="${session.username}" />
				<label for="mensaje.mensaje">&{'mensajes.mensaje'}</label>
			</td>
		</tr>
		<tr>
			<td>
				<textarea id="mensaje.mensaje" name="mensaje.mensaje" cols="20" rows="5"></textarea>
			</td>
		</tr>
		<tr>
			<td colspan="2">
					<input type="file" accept="image/gif, image/png, image/jpg" id="mensaje.foto" name="mensaje.foto" />
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<input type="submit" id="submit" onclick="return valEmptyMsg();" name="submit" value="&{'submit'}" />
			<input type="reset" id="reset" name="reset" value="&{'reset'}" />
			</td>
		</tr>
		</table>
	#{/form}
	</div>
	<script type="text/javascript">
		$('#publica_mensaje').modialog();
		
		function showDialog(){
			$('#publica_mensaje').modialog('open');
		}
		function valEmtpyMsg(){
			$('#mensaje.mensaje').css('background-color','#FF0000');
			return false;
		}
		
	</script>
#{/if}
</div>