#{extends 'main.html' /}
#{set title:'Home' /}

<div>
	<img src="@{'/public/images/techchmunlogo_largo.png'}" style="width:250px;" />
	<div>
		&{'resumen.header'}
	</div>
	<div style="font-size: 22px;">
		&{'resumen.eventos'}
	</div>
	<hr />
	#{list items:eventos, as:'evento'}
		<div style="border-style:none; max-width:810px;">
			<div style="text-align: left; margin-left: 50px;">
				${evento.mesa.nombre} - 
				${evento.fecha}
			</div>
			<hr style="background-image: none; background-color: #000000; height:5px ">
			<div style="max-width: 810px">
				${evento.titulo}
				<div  style="margin-left:25px; text-align:center; max-width: 800px; font-size: 12px;">
				${evento.descripcion}
				</div>		
			</div>			
			<div  style="text-align: right; margin-right: 25px;">
				${evento.mesa.representante}
			</div>
		</div>
	#{/list}
	
	<br />
	<br />
	<div style="font-size: 22px;" >
		&{'resumen.mensajes'}
	</div>
	<hr />
	#{list items:mensajes, as:'mensaje'}
		<div style="border-style:none; max-width:810px;">
			<div>
				<img alt="foto" src="@{mensajeFoto(mensaje.id)}" 
				style="max-width: 350px; height: auto;" />
			</div>
			<div style="max-width: 810px">
				${mensaje.mensaje}
			</div>			
			<div style="text-align: right; margin-right: 25px;">
			${mensaje.fecha}
			</div>
		<hr style="background-image: none; background-color: #000000; height:5px ">
		</div>
	#{/list}
</div>
