#{extends 'main.html' /}
#{set title:'Home' /}

<b>&{'mesa'}&nbsp ${mesa.nombre}</b>

#{if eventos}
<table>
<thead>
<tr><th colspan="2">&{'showMesa.recentEventos'}</th></tr>
</thead>
<tbody>
	#{list items:eventos, as:'evento'}
		<tr>
			<td>${evento.titulo}</td>
			<td>${evento.descripcion}</td>
		</tr>
	#{/list}
</tbody>
</table>
#{/if}

#{Secure.mesaBelongsToUser user:session.username, mesaId:mesa.id}
	<form action="@{addEvento()}" method="post">
		<input type="hidden" id="mesaId" name="mesaId" value="${mesa.id}" />
		<table>
			<thead>
				<tr><th colspan="2">&{'showMesa.addEvento','Agregar Evento'}</th></tr>
			</thead>
			<tbody>
				<tr>
					<td><label for="object.titulo">&{'titulo','Titulo'}</label></td>
					<td><input type="text" id="titulo" name="titulo" /><br /></td>
				</tr>
				<tr>
					<td><label for="object.descripcion">&{'descripcion','Descripción'}</label></td>
					<td>
						<textarea cols="25" rows="7" spellcheck="true" false" id="desc" name="desc" ></textarea>
					</td>
				</tr>
				<tr>
					<td>
						<input type="submit" value="&{'submit'}" />
						<input type="reset" value="&{'reset'}" />
					</td>
				</tr>
			</tbody>
		</table>
	</form>
#{/Secure.mesaBelongsToUser}
