#{extends 'main.html' /}
#{set title:'Home' /}

<div>

	<a href="http://tec-ch-mun-2011.herokuapp.com/eventos/${evento.id}" 
		class="twitter-share-button" 
		data-url="http://tec-ch-mun-2011.herokuapp.com/eventos/${evento.id}" 
		data-text="&{'mensajes.tweet'}"
		data-count="none">Tweet</a>
	
	<span class="fb-like" 
	data-href="http://tec-ch-mun-2011.herokuapp.com/application/eventos/${evento.id}" 
	data-send="true" data-width="400" data-show-faces="false" data-font="verdana"></span>
	<span>
		<img src="/public/images/plus_icon.gif" style="cursor:pointer;" onclick="showDialog();" />
		<span style="font-size: 12px;">&{'showEvento.agregarComentario'}</span>
	</span>
		
	<hr style="width: 95%" />
	<div>
	<b>&{'showEvento.mesaHeader'}</b>
		<a href="@{showMesa()}?id=${evento.mesa.id}">
			${evento.mesa.nombre}
		</a>
		&nbsp;
		#{if evento.mesa.representante}
		<b>&{'showEvento.repContactMsg'}</b>
		<a href="mailto:${evento.mesa.representante.correo}" >
			${evento.mesa.representante.nombre}
		</a>
		#{/if}
	</div>
	
	<div id="evento" style="width:95 %">
		<p align="center">
		${evento.titulo}
		</p>
		<p align="center">
		${evento.descripcion}
		</p>
	</div>
	
	<div style="text-align: right; padding-right: 25px;">
		&{'showEvento.fechaFooter'}${evento.fecha}
	</div>
	
	<hr style="width:95%"/>
	
	<br />
	<div id="comments">
	
	</div>
	<br />
	<input id="btnComentarios" type="button" value="&{'showEvento.commentarios'}" 
		onclick="getComentarios();" />

	<!-- Agregar comentario -->
	<div id="publica_comentario" class="modal_dialog">
	<br />
	<p>&{'showEvento.enviaComentario'}</p>
	#{form @Application.publicarComentario(), enctype:'multipart/form-data'}
		<table>
		<tr>
			<td colspan="2" valign="top">
				<input type="hidden" id="comentario.evento.id" name="comentario.evento.id" 
				value="${evento.id}" />
				<label for="comentario.comentario">&{'showEvento.enviaComentario.comentario'}</label>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<textarea id="comentario.comentario" name="comentario.comentario" cols="30" rows="3"></textarea>
			</td>
		</tr>
		<tr>
			<td>
				<label for="comentario.autor">&{'showEvento.enviaComentario.autor'}</label>
			</td>
			<td>
				<input type="text" id="comentario.autor" name="comentario.autor" ></input>
			</td>
		</tr>
		<tr>
			<td>
				<label for="comentario.contacto">&{'showEvento.enviaComentario.contacto'}</label>
			</td>
			<td>
				<input type="text" id="comentario.contacto" name="comentario.contacto" ></input>
			</td>
		</tr>
		<tr>
			<td colspan="2">
			<input type="submit" id="submit" onclick="" name="submit" value="&{'submit'}" />
			<input type="reset" id="reset" name="reset" value="&{'reset'}" />
			</td>
		</tr>
		</table>
	#{/form}
	</div>

<script type="text/javascript">
	
	$(document).ready(function(){getComentarios();});
	
	var pagina = 0;

	function getComentarios(){
		$('#loader').css('visibility','visible');
		$.ajax({
			type:'get',
			url:'/rest/comentarios/${evento.id}/mas/'+pagina,
			success:function(data){
				
				var startTime = new Date();
			    var endTime = null;
			    do {
			        endTime = new Date();
			    } while ((endTime - startTime) < 1000);
			    
				$(data.comentarios).each(function(id, com){
					$('#comments').append(
							buildCommentHtml(com));
				});
				if (data.mas){
					//set the page to the next page to fetch
					pagina = data.pagina;
				}else{
					$('#btnComentarios').attr('disabled','disabled');
					if (data.comentarios.length == 0){
						$('#comments').append('${noMoreComentariosMsg}');
					}
				}
				$('#loader').css('visibility','hidden');
			},
			error:function(error){
				$('#loader').css('visibility','hidden');
			}
		});
	}
		
	function buildCommentHtml(comentario){
		var result = '<div style="width:95%">';
		if(comentario.autor != ""){
			result += comentario.autor;
		} else{
			result+="&{'showEvento.anonimous'}";
		}
		result += " &{'showEvento.said'} ";
		result += comentario.comentario;
		result += '<br />';
		if (comentario.contacto){
			result += " &{'showEvento.contactAt'} ";
			result += '<a href="mailto:'+comentario.contacto+'">'+comentario.contacto+'</a><br />';
		}
		if (comentario.fecha){
			result += "&{'showEvento.publishedOn'}"+comentario.fecha
		}
		result += '<br /></div>';
		return result;
	}
	
	$('#publica_comentario').modialog();
	
	function showDialog(){
		$('#publica_comentario').modialog('open');
	}
	
</script>

</div>
