#{extends 'main.html' /}
#{set title:'Home' /}

<div>
<div style="text-align: left; padding-left: 25px;">
<a href="http://tec-ch-mun-2011.herokuapp.com/application/showeventos" 
class="twitter-share-button" 
data-url="http://tec-ch-mun-2011.herokuapp.com/application/showeventos" 
data-text="&{'mensajes.tweet'}"
data-count="none">Tweet</a>
<span class="fb-like" data-href="http://tec-ch-mun-2011.herokuapp.com/application/showeventos" 
			data-send="true" data-width="400" data-show-faces="false" data-font="verdana"></span>
</div>
<hr style="width:96%"/>
<div id="eventosDiv" style="padding-left:0.5cm; width:95%">
#{ifnot eventos}
	&{'showEventos.noEventos'}
#{/ifnot}
#{list items:eventos, as:'evento'}
	<div class="evento-box">
		<div style="text-align: right; padding-right: 35px;">
			${evento.fecha}
		</div>
		<a href="/eventos/${evento.id}">${evento.titulo}</a>
		<div style="text-align: left; padding-left: 25px;">
		&{'showEventos.representante'}
		#{if evento.mesa.representante}
			<a href="mailto:${evento.mesa.representante.correo}">
				${evento.mesa.representante.nombre}
			</a>
		#{/if}
		</div>
		<hr />
	</div>		
#{/list}
</div>
#{if masEventos}
	<input id="btnMas" type="button" value="&{'masEventos'}" onclick="masEventos()" />
#{/if}

<script type="text/javascript" >
	var pagina = 0${pagina};
	function masEventos(){
	$.ajax({type:'get',
		url:'/rest/eventos/mas/'+pagina,
		dataType:'json',
		success:function(data){
			pagina = data.pagina;
			if (!data.moreFetch){
				$('#btnMas').css('visibility','hidden');
			}
			$.each(data.eventos,function(id,evento){
				$('#eventosDiv').append(buildEventoHtml(evento));	
			});
		},
		error:function(req, error,msg){
			alert(msg);
		}
		});
	}
	
	function buildEventoHtml(evento){
		var html = '<div class="evento-box">';
		html+='<div style="text-align: right; padding-right: 35px;">';
		var fech = new Date(evento.fecha);
		html+=fech.toDateString();
		html+='</div><a href="/eventos/';
		#{if evento}
			html+='${evento.id}';
		#{/if}
		html+='#">';
		html+=evento.titulo+'</a>';
		html+='<div style="text-align: left; padding-left: 25px;">';
		html+='&{'showEventos.representante'}';
		
		if (evento.mesa.representante){
			html+=' - <a href="mailto:'+evento.mesa.representante.correo;
			html+='">'+evento.mesa.representante.nombre+'</a>';
		}
		html+='</div><hr /></div>';			
		return html;
	}
</script></div>