#{extends 'main.html' /}
#{set title:'Home' /}

<div class="evento-div" style="border-color:${evento.mesa.color}" >
	<div style="background-color:${evento.mesa.color}" >
		<img style="visibility:hidden; background-color: ${evento.mesa.color};" 
			alt="loading..." src="/public/images/loader.gif" id="loader"/>
	</div>
	<div id="social" align="right">
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) {return;}
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/all.js#xfbml=1";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>

	<div class="fb-like" data-href="http://localhost:9000/eventos/${evento.id}" 
		data-send="false" 
		data-layout="button_count" 
		data-show-faces="false"></div>
	
	<a href="https://twitter.com/share" class="twitter-share-button"
		data-url="http://localhost:9000/eventos/${evento.id}"
		data-text="&{'showEvento.tweeterMsg'}" 
		data-count="horizontal">Tweet</a>
	<script type="text/javascript" src="//platform.twitter.com/widgets.js">
	</script>
	
	<!-- Place this tag where you want the +1 button to render -->
	<g:plusone size="medium" href="http://localhost:9000/eventos/${evento.id}"></g:plusone>
	
	<!-- Place this render call where appropriate -->
	<script type="text/javascript">
	  (function() {
	    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
	    po.src = 'https://apis.google.com/js/plusone.js';
	    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
	  })();
	</script>
	
	</div>
	
	<div align="center">
		<b>&{'showEvento.mesaHeader'}</b>
		<a href="@{showMesa()}?id=${evento.mesa.id}">
			${evento.mesa.nombre}
		</a>
		<br />
		&{'showEvento.repContactMsg'}
		#{if evento.mesa.representante}
		<a href="mailto:${evento.mesa.representante.correo}" >
			${evento.mesa.representante.nombre}
		</a>
		#{/if}
	</div>
	<div id="evento">
		<p align="center">
		${evento.titulo}
		</p>
		<p align="left">
		${evento.descripcion}
		</p>
	</div>
	
	<hr />
	
	<div id="comments">
	
	</div>
	
	<input id="btnComentarios" type="button" value="&{'showEvento.commentarios'}" 
		onclick="getComentarios();" />
	
	<div style="text-align: right;" class="evento-div">
		&{'showEvento.fechaFooter'}${evento.fecha}
	</div>
</div>
<script type="text/javascript">
	
	var pagina = 0;

	function getComentarios(){
		$('#loader').css('visibility','visible');
		$.ajax({
			type:'get',
			url:'/rest/comentarios/${evento.id}/mas/'+pagina,
			success:function(data){
				
				var startTime = new Date();
			    var endTime = null;
			    do {
			        endTime = new Date();
			    } while ((endTime - startTime) < 1000);
			    
				$(data.comentarios).each(function(id, com){
					$('#comments').append(
							buildCommentHtml(com));
				});
				if (data.mas){
					//set the page to the next page to fetch
					pagina = data.pagina;
				}else{
					$('#btnComentarios').attr('disabled','disabled');
					$('#comments').append('${noMoreComentariosMsg}');
				}
				$('#loader').css('visibility','hidden');
			},
			error:function(error){
				$('#loader').css('visibility','hidden');
			}
		});
	}
		
	function buildCommentHtml(comentario){
		var result = (comentario.autor)? comentario.autor : "&{'showEvento.anonimous'}"
		result += " &{'showEvento.said'} ";
		result += comentario.comentario;
		if (comentario.contacto){
			result += " &{'showEvento.contactAt'} ";
			result += '<a href="mailto:'+comentario.contacto+'">'+comentario.contacto+'</a>';
		}
		if (comentario.fecha){
			result += "&{'showEvento.publishedOn'}"+comentario.fecha
		}
		result += '<br />';
		return result;
	}
	
</script>