#{extends 'main.html' /}
#{set title:'Home' /}

<div id="eventosDiv" style="padding-left:0.5cm; width:95%">
#{ifnot eventos}
	&{'showEventos.noEventos'}
#{/ifnot}
#{list items:eventos, as:'evento'}
	<div class="evento-box">
		<div style="text-align: right;">
			${evento.fecha}
		</div>
		<a href="/eventos/${evento.id}">${evento.titulo}</a>
		<div style="text-align: left ;">
		&{'showEventos.representante'}
		#{if evento.mesa.representante}
			<a href="mailto:${evento.mesa.representante.correo}">
				${evento.mesa.representante.nombre}
			</a>
		#{/if}
		</div>
		<hr />
	</div>		
#{/list}
</div>
#{if masEventos}
	<input id="btnMas" type="button" value="&{'masEventos'}" onclick="masEventos()" />
#{/if}

<script type="text/javascript" >
	var pagina = 0${pagina};
	function masEventos(){
	$.ajax({type:'get',
		url:'/rest/eventos/mas/'+pagina,
		dataType:'json',
		success:function(data){
			pagina = data.pagina;
			if (!data.moreFetch){
				$('#btnMas').css('visibility','hidden');
			}
			$.each(data.eventos,function(id,evento){
				$('#eventosDiv').append(buildEventoHtml(evento));	
			});
		},
		error:function(req, error,msg){
			alert(msg);
		}
		});
	}
	
	function buildEventoHtml(evento){
		var html = '<fieldset class="evento-div"';
		html+='style="border-color: '+evento.mesa.color+'" >';
		html+='<legend>	<a href="@{showMesa()}?id='+evento.mesa.id+'">';
		html+='<b>'+evento.mesa.nombre+'</b></a></legend>';
		html+='	<table style="width:100%"><thead align="center"><tr><th>';
		html+='<a href="/eventos/'+evento.id+'">'+evento.titulo+'</a></th></tr>';
		html+='</thead><tbody align="center"><tr><td>'+evento.descripcion+'</td>';
		html+='</tr></tbody><tfoot align="right"><tr><td>';
		html+=evento.fecha+' - <a href="mailto:'+evento.mesa.representante.correo;
		html+='">'+evento.mesa.representante.nombre+'</a></td></tr></tfoot></table>';
		html+='</fieldset>';
		return html;
	}
</script>