<!DOCTYPE html>

<html>
    <head>
        <title>#{get 'title' /}</title>
        <meta charset="${_response_encoding}">
        <link rel="stylesheet" media="screen" href="@{'/public/stylesheets/main.css'}">
		
        #{get 'moreStyles' /}
        <link rel="shortcut icon" type="image/png" href="@{'/public/images/favicon.png'}">
        <script src="@{'/public/javascripts/jquery-1.5.2.min.js'}" type="text/javascript" charset="${_response_encoding}"></script>
		#{get 'moreScripts' /}
    </head>
    <body>
	
		<div id="header">
            <div id="logo">
                <span>
				<a href="/" >Tec.Ch.Mun.2011</a>
				</span>
				<span style="width:100%; text-align:right;" >
					#{if session.username }
                    <b>Bienvenido ${session.username} </b>
					<a href="@{Secure.logout()}">&{'logout','Log out'}</a>
					#{/if}
					#{ifnot session.username }
					<a href="@{Secure.login()}">&{'login','Log in'}</a>
					#{/ifnot}
				</span>
            </div>
			
        </div>
	
        #{doLayout /}
    
		<p id="footer">
            Tec.Ch.Mun 2011 Web application. Powered by 
            <a href="http://www.playframework.org">Play framework</a>
        </p>
		
	</body>
</html>
